# Varies per-deployment.
/testfm/inventory

# Compiled python code.
*.pyc

# Test results.
**/foreman-results.xml
**/testfm.log

#env
env/
.env/
.venv/
.idea/
.pytest_cache/
testfm.egg-info/

#Packaging
build/
dist/

# Dynaconf local files
/conf/*
!/conf/testfm.sample.yaml

# Dynaconfs .env file
/.env
