[subscription]
RHN_USERNAME=<RHN_USERNAME>
RHN_PASSWORD=<RHN_PASSWORD>
RHN_POOLID=<RHN_POOLID>
DOGFOOD_URL=<DOGFOOD_URL>
DOGFOOD_ORG=<DOGFOOD_ORG>
DOGFOOD_ACTIVATIONKEY=<DOGFOOD_ACTIVATIONKEY>
[URLS]
HOTFIX_URL=<HOTFIX_URL>
[SATELLITE]
SAT_HOSTNAME=<SAT_HOSTNAME>
